:root {
    /* --main-bg-color: #28a745; */
    --main-bg-color: #fff;
    --main-text-color: #192a56;
    /* --second-text-color: #bbbec5; */
    --second-text-color: #6c757d;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
   
  }
  
  .home{
    color: var(--main-text-color);
    text-decoration: none;
   
  }
  .home:hover{
    color: var(--main-text-color);
    text-decoration: none;
  }
  
  .secondary-bg {
    background-color: var(--main-bg-color);
  }
  
  .rounded{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: .5rem !important;
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  ._siderbar{
    background: var(--main-bg-color);
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  .navbar{
    background: #fff;
    height: auto;
    padding: 1.5rem 1.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    border-right: .1rem solid #ececec;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    background-color:#F0FFF0;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
    color:#28a745;  
  }
  
  .list-group-item {
    border: none;
    font-weight: 500 !important;
    padding: .7rem 2rem;
    cursor: pointer;
    
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold !important;
    border: none;
  }
  .links:hover{
    color: #28a745;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


  .dropdown-container {
    display: none;
    padding: 0rem 2rem .7rem 3rem;
  }
  .dropdown-container>a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: #6c757d;
    font-size: 1rem;
    padding: .5rem 0;
  }

  .dropdown-container>a:hover{
    color:#28a745;
  }
  
  /* Optional: Style the caret down icon */
  /* .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  .table_admin{
    width: 100%;
    
  }

.table_admin th{
  font-size: 1rem;
  padding: .5rem 0;
  border-bottom: .1rem solid #ececec;
  
}

.table_admin td{
  border-bottom: .1rem solid #ececec;
}

.table_admin tr:hover{
  background-color: #ececec;
}

.table_admin img{
  max-height: 5rem;
}


.table_admin ._control_edit,
.table_admin ._control_delete{
  text-decoration: none;
  font-size: .7rem;
  padding: .2rem .5rem;
  border-radius: 1rem;
  color: #fff;
}

.table_admin ._control_edit{
  background-color: #192a56;

}
.table_admin ._control_delete{
  background-color: red;

}

.tab_container .control_tab{
  display: flex;
  background-color: #fff;
  border: none !important;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.tab_container .control_tab li{
  margin: 0 .5rem;
}

.tab_container .control_tab li button{
  border: none !important;
  background-color: #fff;
  color:#192a56;
  font-weight: bold ;
  background-color: #6c757d;
}
  
  