/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
 */
/* Font Roboto */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    /* --main: rgb(134, 186, 9); */
    --main: #28a745;
    /* --black: #192a56; */
    --black: #3f3e3e;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    
}

body a:hover{
    text-decoration: none;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
 
}

ul{
    list-style: none;
}

body a{
    text-decoration: none;
    color: var(--black);
  
}

body .form-control{
    outline: red;
    border: none;
}

input:focus{
     outline: none;
  
    /* border:0px solid #ccc !important; */
}

body a:hover{
    color: var(--main);
}


*::selection{
    background: var(--main);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    font-weight: 900;
    
}


section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.titlePage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/bg-page.jpg);
    min-height: 20rem;
    background-position: center;
    background-size: cover;
    text-align: center;padding-top: 5rem;   
}

.titlePage h1{
    font-size: 5rem;
    /* color: var(--main); */
    color: #fff;
    font-weight: 900;
}

.titlePage a,
.titlePage .link{
    color: #eee;
    font-size: 2rem;
}

.heading span{
    color: var(--main);
    text-transform: uppercase;
}

body .btn{
    display: inline-block;
    padding: .8rem 3rem;
    background: #fff;
    border: .2rem solid var(--main);
    color: var(--main);
    cursor: pointer;
    font-size: 1.9rem;
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    /* border: .1rem solid var(-green); */
}

body .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--main);
    transition: .3s linear;
    z-index: -1;
}

body .btn:hover::before{
    width: 100%;
    left: 0;
   
}

body .btn:hover{
    color: #fff;
}

header {
 
    width: 100%;
    background: #fff;
    /* padding: 1rem 7%; */
    
    z-index: 1000;
    /* box-shadow: var(--box-shadow); */
}

header .social-call{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: .1rem solid rgba(0,0,0,.1)
}

header .social-call .social  a{
    margin: 0 .3rem;
    color: rgba(0,0,0,.7);
    font-size: 1.5rem;
}

.social-call .phone{
    color: rgba(0,0,0,.7);
    margin-left: 2rem;
    font-size: 1.4rem;
}




header .nav{
    width: 100%;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background: #fff;
    position: relative;
    /* box-shadow: var(--box-shadow); */
  
}

header .nav.fix-nav{
    position: fixed;
    top: 0; left: 0; right:0;
    box-shadow: var(--box-shadow); 
    height: 8rem;
    background: #fff;
    animation: scrollTop 0.7s;
   z-index: 1000;
}


header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--main);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--black);
}

header .navbar .active,
header .navbar a:hover{
    color: #fff;
    background: var(--main);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--main);
    transform: rotate(360deg);
}


header .icons #menu-bars{
    display: none;
}

/* banner section css */
.banner{
      display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    z-index: 1000;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg-yellow.jpg); */
    background: url(../images/bg-yellow1.jpg);
    background-position: center;
    background-size: cover;
}

.banner .content{
    flex: 1 1 40rem;
    margin-top: -15rem;
    padding-left: 2rem;
}

.banner .image{
    flex: 1 1 40rem;
}

.banner .image img{
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}


.banner .content h3{
    font-size: 5rem;
   /*   color: #eee;
   text-shadow:5px 5px 5px rgba(0,0,0,.4); */
    /* text-shadow: 2px 6px 8px #292929;
    font-weight: 400; */

    color: #fff;
    text-shadow: 1px 6px 8px #292929;
    line-height: 1.4;
    margin: 0 0 15px;
    /* white-space: nowrap; */
    font-weight: 700;
   
}

.banner .content h3 span{
    color: var(--main);
    box-shadow: 0px 0px 0px #ffff;
   
}

.banner .content p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
}

/* category css */
.category{
    display: flex;
  
    align-items: center;
    justify-content: center;
    /* z-index: 1000;
    background: yellow; */
    margin-bottom: -15rem;
    
}

/* .category .slider{
    display: flex;
    width: 100%;

    background-color: red;
    padding: 3rem 5%;
    transform: translateY(-50%);

 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; 
} */



.category  .item .feature-box{
    width: 100px;
    height: 100px;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.category  .item .feature-box a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.category  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
  
}


.category  .item span{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}

#autoWidth{
    display: flex;
    /* background-color: #fff; */
    justify-content: center !important;
    
    /* padding: 2rem 5%; */
    margin: 2.5rem auto 2rem auto;

    
}


/* css banner_sale_container */
.banner_sale_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner_sale_container .banner_sale{
    flex: 1 1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.banner_sale_container .banner_sale img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner_sale_container .banner_sale .content{
    position: absolute;
    top: 50%; left: 4%;
    transform: translateY(-50%);
}

.banner_sale_container .banner_sale .content p{
    font-size: 2rem;
    color: #333;
}

.banner_sale_container .banner_sale .content h3{
    font-size: 3rem;
    color: var(--black);
}

.banner_sale_container .banner_sale:hover img{
    transform: scale(1.2) rotate(-5deg);
}


/* product section scc */
.product_container .box_container{
    /* display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; */

    display: grid;
    grid-template-columns: 25rem 25rem 25rem 25rem;
    grid-gap: 5rem 2rem;
    justify-content: center;
}

.product_container .box_container .box{
    /* flex: 1 1 25rem; */
    text-align: center;
    padding: 2rem;
    /* border: .1rem solid rgba(0,0,0,.2); */
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);;
    border-radius: .7rem;
    max-width: 25rem;
    overflow: hidden;
    position: relative;
}

.product_container .box_container .box  img{
    height: 20rem;
}

.product_container .box_container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    background: rgba(134, 186, 9,.1);
    color: var(--black);
    padding: .7rem 1rem;
    font-size: 2rem;
}

.product_container .box_container .box .icons{
    position: absolute;
    top: .5rem; right: -6rem;
}



.product_container .box_container .box:hover .icons{
    right: 1rem;
   
}

.product_container .box_container .box:hover{
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 22%), 0 1px 2px rgb(0 0 0 / 40%);

}

.product_container .box_container .box .icons a{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    background: rgba(231, 231, 231, 0.8);
    border-radius: 50%;
    margin-top: .7rem;
}

/* option 2 */
.product_container .box_container .box .icons2{
    position: absolute;
    bottom: 35%;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 8rem;
    background: rgba(161, 156, 156, 0.5);
}


.product_container .box_container .box .icons2 a{
    padding: 1.3rem;
    background: var(--main);
    margin-left: 1rem;
    color: #fff;
    font-size: 1.5rem
}
.product_container .box_container .box .icons2 a:hover{
    background: #fff;
    color: var(--main);
}

.product_container .box_container .box:hover .icons2{
    left: 0;
}


.product_container .box_container .box .icons a:hover{
    background: var(--main);
    color: #fff;
}


.product_container .box_container .box h3 a{
    color: var(--black);
    font-size: 2.2rem;
    font-weight: bolder;
}
.product_container .box_container .box h3 a:hover{
    color: var(--main);
  
}

.product_container .box_container .box .stars i{
    padding: 1rem .1rem;
    font-size: 1.7rem;
    color: gold;
   
}

.product_container .box_container .box .price{
    font-size: 2rem;
    color: var(--main);
    padding:.5rem 0;
    text-transform: none;
    font-weight: bolder;
}

.product_container .box_container .box .price span{
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
    text-transform: none;
}


/* deal section */
.deal{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/bg-deal.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin-top: 4rem;
    
}

.deal .content{
    max-width: 50rem;
    margin-top: -3rem;
    margin-bottom: 10rem;
    
}

.deal .content .title{
    font-size: 5rem;
    color: #fff;
    font-weight: bolder;
}

.deal .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: #eee;
}

.deal .content .count-down{
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
}

.deal .content .count-down .box{
    width: 9rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border: .1rem solid rgba(0,0,0,.3)
}

.deal .content .count-down .box h3{
    color: var(--black);
    background: #fff;
    height: 7rem;
    line-height: 7rem;
    width: 100%;
    font-size: 5rem;
}

.deal .content .count-down .box span{
    display: inline-block;
    background: var(--black);
    color: #fff;
    width: 100%;
    padding: .5rem;
    font-size: 2rem;
}

/* product-deal css */
.deal_product {
   /* position: absolute; width: 100%; left: 0; top:-250% ; */
   transform: translateY(-40%);
    margin-bottom: -10rem;
}

.deal_product .box{
    background: #fff;
}


/* review section css */

.review .review-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.review .review-box .box{
    flex: 1 1 30rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
}

.review .review-box .box .fa-quote-right{
    position: absolute;
    top: 2rem; right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .review-box .box .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .review-box .box .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .review-box .box h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .review-box .box .user i{
    font-size: 1.3rem;
    color: var(--main);
}

.review .review-box .box p{
    font-size: 1.5rem;
    list-style: 1.8;
    color: #666;
}





/* footer css starts */

.footer{
 
    border-top: .4rem solid #ececec;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}
.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover{
    text-decoration: underline;
    color:var(--main);
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color: var(--main);

}

/* footer css ends */




/* ************** Product Page style ******************** */

.products{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.products .siderbar-container{
    flex: 1 1 20rem;
  
}

.products .siderbar-container .box{
   border: .1rem solid rgba(0,0,0,.1);
   border-radius: .5rem;
   background: #f1f6f7;
   margin-bottom: 2rem;
  
}

.products .siderbar-container .box h1{
    display: inline-block;
    width: 100%;
    background: var(--main);
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;    
}

.products .siderbar-container .box .categories .item{
    padding: 1rem 1rem;
    transition: none;
    font-size: 1.8rem;
    line-height: 2rem;
    
}
.products .siderbar-container .box .categories .item input[type=radio]{
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2rem;cursor: pointer;
}
.products .siderbar-container .box .categories .item:hover{
    color: #eee;
    background: var(--main);
  
}
.products .siderbar-container .box .categories .item label{
    width:80%;
    height: 100%;
    display: inline-block;cursor: pointer;
    font-size: 1.5rem;
    font-weight: normal;
}




.products .product-container{
    flex: 1 1 80rem;
    min-height: 20rem;
    text-align: center;
}


.products .product-container .sort,
body ._order .sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f6f7;
    padding: 1rem 1.5rem;
}

.products .product-container .sort select,
._order .sort select{
    background: white;
    padding: 1rem;
    width: 20rem;
    font-size: 1.5rem;
}

.products .product-container .sort option,
._order .sort option{
    width: 100px;
}
.products .product-container .sort select:first-child,
._order .sort select:first-child{
    margin-right: 1.2rem;
}

.search-box{
    position: relative;
    padding: 1rem 1.5rem;
}

.search-box input{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
}

.search-box i{
    font-size: 1.7rem;
    position: absolute;
    right: 20px;
    transform: translateY(60%);
}

.products .product-container .product-box{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    grid-gap: 5rem 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.products .product-container .product-box .box{
    /* flex: 1 1 25rem; */
    text-align: center;
    padding: 2rem;
    /* border: .1rem solid rgba(0,0,0,.2); */
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);;
    border-radius: .7rem;
    max-width: 25rem;
    overflow: hidden;
    position: relative;
}

.products .product-container .product-box .box  img{
    height: 15rem;
}

.products .product-container .product-box .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    background: rgba(134, 186, 9,.1);
    color: var(--black);
    padding: .7rem 1rem;
    font-size: 1.5rem;
}  

.products .product-container .product-box .box .icons{
    position: absolute;
    top: .5rem; right: -6rem;
}

.products .product-container .product-box .box:hover .icons{
    right: 1rem;
} 

.products .product-container .product-box .box:hover{
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 22%), 0 1px 2px rgb(0 0 0 / 40%);

}


.products .product-container .product-box .box .icons a{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    background: rgba(231, 231, 231, 0.8);
    border-radius: 50%;
    margin-top: .7rem;
}

/* option 2 */
.products .product-container .product-box .box .icons2{
    position: absolute;
    bottom: 35%;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 8rem;
    background: rgba(161, 156, 156, 0.5);
}


.products .product-container .product-box .box .icons2 a{
    padding: 1.3rem;
    background: var(--main);
    margin-left: 1rem;
    color: #fff;
    font-size: 1.5rem
}
.products .product-container .product-box .box .icons2 a:hover{
    background: #fff;
    color: var(--main);
}

.products .product-container .product-box .box:hover .icons2{
    left: 0;
}


.products .product-container .product-box .box .icons a:hover{
    background: var(--main);
    color: #fff;
}

.products .product-container .product-box .box h3{
    color: var(--black);
    font-size: 2rem;
}
.products .product-container .product-box .box h3 a{
    color: var(--black);
    font-size: 2rem;
}

.products .product-container .product-box .box .stars i{
    padding: 1rem .1rem;
    font-size: 1.2rem;
    color: gold;
   
}

.products .product-container .product-box .box .price{
    font-size: 1.5rem;
    color: var(--main);
    padding:.5rem 0;
    text-transform: none;
    font-weight: bolder;
}

.products .product-container .product-box .box .price span{
    font-size: 1.4rem;
    color: #999;
    text-decoration: line-through;
    text-transform: none;
}


/* ***************** Detail Page CSS ********************* */
.heading-details{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1.7rem;  
    text-transform: uppercase; 
    display: inline-block;
    background: var(--black);
    padding: 1rem 3.5rem;
    margin-top: 10rem;
}

/* .heading-details span{
    font-size: 2.5rem;
    background: var(--main);
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
} */

.detail-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    
}


.detail-container .box{
    flex: 1 1 40rem;
    
  
}

.detail-container .box:first-child{
    text-align: center;
    
  
}

.detail-container .box img{
    /* width: 80%; */
    max-height: 40rem;
    
}



.detail-container .box p{
    font-size: 1.5rem;
    color: #666;
    line-height: 1.7;
    text-transform: none;
}

.detail-container .box h1{
    font-size: 3.2rem;
    color: var(--black);

}

.detail-container .box .price{
    font-size: 2.8rem;
    color: var(--main);
    text-transform: none;
    padding-top: 0;
    font-weight: bolder;
    margin-top: 0;
}

.detail-container .box .price span{
    font-size: 2.1rem;
    color: rgb(141, 140, 140);
    text-transform: none;
    text-decoration: line-through;
}


.detail-container .box .info h5{ 
    font-size: 1.5rem;
    color: #666;
    text-transform: none;
    line-height: 2;
}

.detail-container .box .info span{ 
    font-size: 1.5rem;
    color: #888;
    text-transform: none;
    line-height: 2;
}


.detail-container .box .quantity{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.detail-container .box input{ 
    /* padding: 1.5rem .5rem; */
    width: 5rem;
    height: 4rem;
    border: .1rem solid var(--main);
    font-size: 2rem;
    text-align: center;
    margin-right: 1rem;
}
.detail-container .box a{
    border: .1rem solid var(--main);
    margin-top: 0;
    text-transform: none;
}

.detail-container .box h3{
    padding-top: 1rem;
    font-size: 2.5rem;
    color: var(--black);
    margin-top: 1.5rem;
}


/* .detail-container .box {
    padding-top:1rem;
    font-size: 2.5rem;
    color: var(--main);
} */

.produdtx{
    margin-top: 20rem;
    background-color: red;
}


/* ********************** Cart Page Css *****************************/
.cart-container{
    max-width: 1080px;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
   
}




.cart-container table{
    width: 100%;
    border-collapse: collapse;
}

/* .cart-container table tr{
    border-bottom: .1rem solid rgb(204, 204, 204); 
} */


.cart-container table .cart-info{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.cart-container table .cart-info p{
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: none;
    
}

.cart-container table tr td span{
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1rem;
    color:var(--black);
}

.cart-container table th,
.total-price th{
    text-align: left;
    padding: 0.5rem .5rem;
    color: var(--black);
    font-size: 2rem;
    /* background: var(--main); */
    font-weight: bolder;
    border-bottom: .5rem solid #ececec;
}

/* .cart-container .table td, */
.total-price td{
    padding: 2rem 1rem;  
   
}

.cart-container table td input{
    width: 5.2rem;
    height: 4rem;
    padding: .5rem;
    font-size: 1.5rem;
    border: .1rem solid #666;
    margin-left: 2rem;
}

.cart-container .cart-info a{
    color: #FF2300;
    font-size: 1.4rem;
}
.cart-container .cart-info small{
    /* color: var(--main); */
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: none;   
     color: #333;
}

.cart-container table img{
    /* width: 7rem; */
    width: 8rem;
    height: auto;
    margin-right: 2rem;
}

.total-price {
	display: flex;
	justify-content: space-between;
}

.total-price .voucher{
    margin-top: 3rem;
}


.total-price .voucher h3{
    font-size: 2.3rem;
    color: var(--black);
    font-weight:600;
}

.total-price .voucher input{
    padding: .7rem .5rem;
    font-size: 1.7rem;
    border: .1rem solid #ececec;
    color: gray;
    text-transform: none;
}

.total-price .voucher h3{
    font-size: 2.3rem;  
    color: var(--black);
    font-weight:600;
}

.total-price .voucher a{
    border-radius: none;
    font-size: 1rem;
    background-color: gray;
    padding: .7rem 1rem;
    margin-left: 1rem;
    font-size: 1.7rem;
    color: #fff;
}

.total-price table {
	border-top: .5rem solid #ececec;
	width: 100%;
	max-width: 400px;
}

.cart-container table th:last-child,
.cart-container table td:last-child,
.total-price td:last-child{
    text-align: right;
    text-transform: none;
}

.cart-container table td:last-child{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main);
}

.total-price td{
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 600;
}

.total-price .total{
    font-weight: 900;
    
}

 body .total-price table tr td .btn{
    /* color: var(--main); */
    width: 100%;
}


/* ************************ Account Page CSS ************************ */
.account-container{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.account-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 3rem 0;
    min-height: 10rem;
    border: .3rem solid var(--black);
    color: var(--black);
}

.account-container .box:hover{
    transform: translateY(-1rem);
    border: .3rem solid var(--main);
    color: var(--main);
}

.account-container .box i{
    font-size: 2rem;
    padding: 3rem;
    color: #fff;
    background: var(--black);
    border-radius: 50%;
    transition: transform 1s ease;
}


.account-container .box:hover i{
    background: var(--main);
    transform: rotate(360deg);
}

.account-container .box h1{
    font-size: 2rem;
    line-height: 2;
}

.account-container .box span{
    color: var(--light-color);
    font-size: 1.5rem;
    text-transform: none;
}

/* ********************** Address Page CSS *********************** */

._address .alert{
    width: 50%;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.box-address{
    margin-bottom: 3rem;
   
}

.box-address:first-child .card{
    background-color: rgb(255, 187, 0);
    
}

.box-address .card-header{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--black);
    padding: 1rem .5rem;
  
}

.box-address .card-header h3{
    font-size: 2.2rem;
}

.box-address a{
    color: var(--black);
}

.box-address .card-body h4{
    font-size: 2rem;
    color: #333;
    line-height: 2;
    text-transform: none;
}

.box-address .card-body{
    padding-bottom: 3rem;
    min-height: 15rem;
}

.box-address .card-body p{
    font-size: 1.5rem;
    color: grey;
    padding-bottom: 2rem;
    text-transform: none;
}

.box-address .card-body a{
    background-color: var(--main);
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    
}

/* *************** Checkout Page CSS ********************* */
.bill .box-info{
    padding: 1rem 3rem;
}

.box-info label{
    font-size: 1.5rem;
    padding-top: 1rem ;
    font-weight: 500;
}

.bill .box-info small{
    font-size: 1.5rem;
    color: red;
    padding-top: 1rem;
}

.box-info input,
.box-info textarea{
    padding: .8rem 1rem;
    font-size: 1.5rem;
    outline: none;
    border: .1rem solid #ccc;
}

.box-info input:focus{
    outline: none;
    box-shadow:none !important;
    border:.1rem solid #ccc !important;
}

.bill .box-bill{
    border: .2rem solid var(--main);
   padding: 1rem 2rem;
}


.box-info h3,
.box-bill h3{
   font-size: 2rem;
   font-weight: 600;
   padding: 1rem 0;
   border-bottom: .4rem solid #ececec;
}
.box-bill table{
    width: 100%;
    border-bottom: .5rem solid #ececec;
}

.box-bill table th:last-child,
.box-bill table td:last-child{
    text-align: right;
}

.box-bill table th,
.box-bill table td{
    font-size: 1.5rem;
    padding: .5rem 0;
}

.box-bill .checkout-payment{
    margin-top: 2rem;
    padding: 1rem;
}

.box-bill .checkout-payment label{
    font-size: 1.5rem;
}

.box-bill .checkout-payment input{
    padding: .7rem;
}

.box-bill .checkout-payment .note{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #444;
}


/* ****************** Order Manage Page *************************** */

._order .order-container .box{
    /* padding: 1rem 2rem; */
   
    border-radius: .5rem;
}

._order .order-container .box table{
    width: 100%;
    /* padding: 10rem;
     */
}
 
 .order-container table th{
    font-size: 2rem;
    color:var(--black);
    padding: .5rem 0rem;
}

._order .order-container table tr:first-child{
    border-bottom: .5rem solid #ececec;
    
}

.order-container table td{
    font-size: 1.8rem;
    color: #555;
    padding: 1rem 0;
}

.order-container table img{
    width: 100%;
    max-width: 8rem;
}

.order-container table a{
    color: var(--black);
    font-size: 2rem;
    padding: 0rem .5rem;
}
.order-container table a:hover{
    color:var(--main);
}

.order-container .total{
    color: var(--main);
    font-weight: 500;
}

/* navigation css */
.order-container .navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
}

.order-container .navigation a{
    /* border: .1rem solid var(--black); */
    padding: .5rem 1.5rem;
    color:var(--light-color);
}

.order-container .navigation a:hover{
    /* border: .1rem solid var(--main); */
    color:var(--main);
}

._order>a{
    border-radius: 0;
    font-size: 1.5rem;
    color:#192a56;
    border-color: #192a56;
}
._order>a:hover{
    border-color: var(--main);
}

._order .search-box input{
    font-size: 1.5rem;
    width: 100%;
    padding-right: 4rem;
    color: var(--black);
}

._order .sort i{
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    color: var(--black);
}


/* ****************** Order Detail Page CSS ************************ */

.orderDetail-container form{
  /* background-color: #ececec; */
  box-shadow: var(--box-shadow);
    padding: 1rem;
}

.orderDetail-container form input,
.orderDetail-container form textarea{
    font-size: 1.6rem;
    border: .1rem solid #ececec;
    resize: none;
    text-transform: none;
}

.orderDetail-container form input:last-child{
    color:var(--main);
    font-weight: 600;
}
.orderDetail-container form input:focus,
.orderDetail-container form textarea:focus{
    outline: none;
    box-shadow:none !important;
    border:.1rem solid #ccc !important;

}
.orderDetail-container form label{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: none;
    padding: 1rem 0rem 0rem 0rem;
}

/* Table  */
.orderDetail-container table td:first-child{
    max-width: 2.5rem;
}
.orderDetail-container table th{
    border-bottom: .5rem solid #eaeaea;
}

.orderDetail-container table th,
.orderDetail-container table td{
    font-size: 1.7rem;
    height: 2rem;
    padding: 1rem;
}
.orderDetail-container table td h4{
    text-transform: none;
}

.orderDetail-container table td img{
    width: 100%;
    max-width: 8rem;
}

._orderDetail>a{
    border-radius: 0;
    font-size: 1.5rem;
}


/* ****************** Login Page CSS *************************** */
body ._login{
    margin-top: 500rem;
  
}

.login-container{
    display:flex;
    justify-content: center;
    width: 100%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.login-container .box{
    flex:1 1 40rem;
    padding: 2rem;
    position: relative;
    
}

.login-container .box .register_link{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.login-container .box img{
    width: 100%;
    max-height: 60rem;
    object-fit: cover;
    background-color: #28a745;
    /* filter: blur(.5rem); */
    filter: brightness(50%);
}

.login-container .register_link h1{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 800;
    /* text-shadow: 1px 6px 8px #292929; */
}

.login-container .register_link p{
    color:#fff;
    font-size: 1.5rem;
    text-transform: none;
}

.login-container .register_link a{
    font-size: 1.5rem;
    border-radius: 0;
}


.login-container .box form {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .login-container .box:last-child{
    background-color: #28a745;
} */

body ._login {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.title_login{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.title_login h1{
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}


.login-container .box form input[type="text"],
.login-container .box form input[type="password"],
.login-container .box form input[type="email"]{
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-bottom: .1rem solid #acaaaa;
    margin-top: 3rem;
}

.login-container .box form input:focus{
    outline: none;
    box-shadow:none !important;
    
    /* border:.1rem solid #ccc !important; */
}

.login-container .box form input[type="checkbox"]{
    font-size: 1.5rem;
    padding:1rem 1rem;
    /* margin-left: .5rem; */
    margin-right: 1rem;
   
}

.login-container .box form input[type="checkbox"]:checked{
    background-color: var(--main); 
    border-color: var(--main); 
  
    outline: none;
    box-shadow:none !important;
}

.login-container .box .form-check label{
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2;
}



.login-container .box form label{
    font-size: 1.8rem;
    font-weight: 500;
}

.login-container .box form .btn{
    width: 100%;
}


.login-container .box form  a{
    font-size: 1.5rem;
    margin-top: 3rem;
    text-transform: none;
    color: var(--light-color);
}
.login-container .box form  a:hover{
    color: var(--main);
}















/* animation */
@keyframes scrollTop{
    0%{
        top: -300px;

    }
    100%{
        top: 0px;
    }
}

@keyframes float {
    0%, 100%{
        transform:translateY(0rem);
    }

    50%{
        transform: translateY(3rem);
    }
}



/* media queries */

@media(max-width: 1080px){
    html{
        font-size: 55%;
    }
    
}
@media(max-width: 900px){
    html{
        font-size: 50%;
    }
    
}

@media(max-width: 800px){
    
    header .icons #menu-bars{
        display: inline-block;
    }

    header .social-call{
        display: none;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0; right:0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
        z-index: 10000;
    }

    header .navbar a{
        display: block;
        width: 100%;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
        border-left: .5rem solid var(--main);
    }

    .banner .content{
        margin-top: 0;
    }
}


@media(max-width: 450px){

    html{
        font-size: 50%;
    }


} 