@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #28a745;
  --main-color-dark: #208036;
  --main-color-light: #3bc45b;
  --text-color: #cfcde7;
  --box-shadown-card-body:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body {
    font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #e4e2f5;
  min-height: 100vh;
  display: flex;
  position: relative;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.card-header{
  background-color: #fff;
}

.title-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem ;
}

.title-control button{
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0;
}

.title-control button:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: var(--main-color-dark);
}

.title-control h3{
  font-weight: 800;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  width: 16rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  z-index: 2;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}



.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-top .logo {
  width: 2.1rem;
  margin: 0 0.8rem;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.search {
  min-height: 2.7rem;
  background-color: var(--main-color-light);
  margin: 2rem 0.5rem 1.7rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  caret-color: #fff;
  font-family: inherit;
}

.search input::placeholder {
  color: var(--text-color);
}

.sidebar-links ul {
  position: relative;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}

.active-tab {
  width: 100%;
  height: 53px;
  background-color: var(--main-color-dark);
  border-radius: 10px;
  position: absolute;
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
}

.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}

.sidebar-footer {
  position: relative;
  margin-top: auto;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}

.account:hover {
  color: #fff;
}

.admin-user {
  display: flex;
  align-items: center;
}

.admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.admin-user img {
  width: 2.9rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.admin-info {
  padding-left: 0.3rem;
}

.admin-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.admin-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}

.log-out {
  display: flex;
  height: 40px;
  min-width: 2.4rem;
  background-color: var(--main-color-dark);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 10px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}

.log-out:hover {
  color: #fff;
}

.tooltip {
  background-color: var(--main-color);
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover ~ .tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

body.shrink .sidebar-links h4 {
  height: 10px;
}

body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

body.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

body.shrink .tooltip {
  display: grid;
}


/* main css */
main {
    flex: 1;
    z-index: 1;
    color: #1f2027;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 240, 248);
  }
  
  /* main h1 {
    margin-bottom: 1rem;
  }
  
  main .copyright {
    margin-top: auto;
    font-size: 0.9rem;
  }
  
  main .copyright span {
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
  } */


.nav-main{
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    padding: 0.5rem 2rem;
   
}

.nav-main h2{
    color: #666;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.nav-main .admin_info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.nav-main .admin_info>a{
    font-size: 1rem;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #666;
    
}


.nav-main img{
    max-width: 30px;
    border-radius: 15%;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }

  .nav-main .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: .1rem solid #c5c3c3;
  }

  .nav-main .dropdown a:hover
   {background-color: #ddd;}

  .nav-main .show {display: block;}



.statistical{
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: all 1s;
}

.statistical .box{
    
    display: flex;
    gap: .5rem;
    background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 2rem  2rem 2rem 0.5rem;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    
}

.statistical .box.box-2{
    background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.statistical .box.box-3{
    background: #004FF9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFF94C, #004FF9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFF94C, #004FF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.statistical .box.box-4{
    background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.statistical .box i{
    font-size: 3.5rem;
    color: #fff;
   
}

.statistical .box h4{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.statistical .box span{
    font-size: 1rem;
    color: #fff;
}

body.shrink .statistical{
    /* padding: 2rem 3rem; */
    justify-content: space-between;
    
}

body.shrink .statistical .box{
   padding-left: 2rem;
   padding-right: 2rem;
   transition: padding 1s;
}

/* content main */

.content-main{
  
    padding: 1rem 2rem;
    
}

.content-main .tab-control{
    display: flex;
    border: none;
    gap: .5rem;
}

.content-main .tab-control li a{
    color:#666;
    border-radius: 10rem;
    padding: .5rem 2rem;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
}

.content-main .tab-control li a.active{
    background-color: var(--main-color);
    color: #fff;
}



.tab-chart .col-md-12{
    padding: 1rem;
   
}

.tab-chart .card{
  border-radius: 5px;
}

.tab-chart .card-body{
    padding: 1rem;
    
}

.tab-chart img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.tab-chart .card-header,
.tab-history-order .card-header,
.tab-product-order .card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-chart .card-header h5{
  color: #666;
  font-size: 1rem;
  margin: 0;
}
.tab-history-order .card-header input,
.tab-chart .card-header input[type=date],
.tab-product-order .card-header input{
  color: #666;
  font-size: .8rem;
  padding: .3rem .5rem;
  border-radius: 10px;
  border: .2rem solid #ececec ;
}

.tab-history-order .card-header button,
.tab-product-order .card-header button{
  color: #fff;
  background-color: var(--main-color);
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: .2rem;
  margin-left: 1rem;
  transition: background-color 1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tab-chart .card-header input:focus,
.tab-history-order .card-header input:focus{

  outline: none !important;
}

table{
  width: 100%;
}

.tab-form .card,
.tab-history-order .card{
  background-color: rgb(222, 240, 248);
  border: none !important;
}


.tab-history-order table th,
.tab-product-order table th{
  border-bottom: .2rem solid #ececec;
  padding: .5rem 0;
  color: #333;
}

.tab-history-order td,
.tab-product-order td{
  font-size: 1rem;
  color: #555;
  padding: .5rem 0;
  border-bottom: .1rem solid #ececec;
  cursor: pointer;
}

.tab-history-order table td:last-child,
.tab-product-order table td:last-child{
  font-weight: 500;
  color: #28a745;
}

.td-product{
  display: flex;
align-items: center;
  justify-content: start;
  gap: 1rem;
  
}
.tab-product-order td a,
.tab-history-order td a,
.td-product a{
  font-size: 1rem;
  font-weight: 500;
  color:  #28a745;
}

.td-product span{
  font-size: .9rem;
}

.td-product img,
.tab-history-order table img{
  max-width: 3rem;
}
.tab-history-order .card-footer,
.tab-history-order .card-header{
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: .5rem;
}

.tab-history-order .card-header button{
  color: #fff;
  background-color: var(--main-color);
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: .2rem;
  margin-left: 1rem;
  transition: background-color 1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tab-history-order .card-header button:hover{
  background-color: var(--main-color-dark);
}

.tab-form .card-body,

.tab-history-order .card-body{
  margin-top: 1rem;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.tab-product-order table{
  width: 100%;
}

.tab-product-order img{
  max-width: 3rem;
}

.control-list{
  background-color:#fff;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tab-list .card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
}

.control-list th{
  font-size: 1rem;
  padding: 0.3rem 0;
  color: #444;
 
}

.control-list td{
  align-items: center;
  vertical-align: middle;
  margin: auto;
  
}

.control-list select{
  border: .15rem solid #ececec ;
  background-color: #fff;
  font-size: 1rem;
  padding-right: 1rem;
  border-radius: .5rem;
  color: #666;
  width: 95%;
}
.control-list select:focus{
  border: .15rem solid #ececec ;
  outline: none !important;
  box-shadow: none;
}

.control-list button{
  border: none;
  background-color: var(--main-color);
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: .3rem 1rem;
  color: #fff;
}

.control-list button:hover{
  background-color: var(--main-color-dark);
}

.tab-list .form-group,
.search-box{
  display: flex !important;
  align-items: center !important;
  position: relative !important;
  margin-bottom: 0;
}

.search-box input{
  border: none;
  background-color: #fcf6f6;
  font-size: 1rem;
  padding: .5rem 1rem .5rem 2.5rem;
  border-radius: .5rem;
  color: #666;
  width: 95%;
}
 .search-box input:focus{
   border: none;
   outline: none;
 }

.search-box i{
  position: absolute;
  color: #666;
  left: .5rem;
}


.tab-list .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.tab-list .card-header h5{
  margin: 0;
  font-size: 1.2rem;
  color:  #333;
}

.tab-list .card-body table th{
  border-bottom: .2rem solid #ececec;
  padding: .5rem 0;
}


.tab-list .card-body table td{
  border-bottom: .1rem solid #ececec;
  padding: .3rem 0;
}

.pagination{
  display: flex;
  align-items: center;
}

.pagination label{
  font-size: 1rem;
  font-weight: 500;
  color: #333;  
}

.pagination select{
  width: 10rem;
  max-width: 10rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  padding: .5rem .5rem;
  margin-left: .5rem;
  border: .2rem solid #ececec;
  border-radius: .5rem;
}

.pagination .page-box ul{
  display: flex;
  margin: 0;
  margin-left: 1rem;
  gap: .2rem;
}

.pagination .page-box ul a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#f7f5f5;
  width: 2rem;
  height: 2rem;
  font-size: .8rem;
  color: #333;
  font-weight: 600;
  border-radius: .5rem;
  
}

.pagination .page-box ul a:hover{
  background-color: var(--main-color-light);
  color:#fff;
}

.pagination .page-box ul a.active{
  background-color: var(--main-color-light);
  color: #fff;
}

.status-ena{
  background-color: var(--main-color-light);
  color: #fff;
  font-size: .8rem;
  padding: 0.2rem .5rem;
  border-radius: 1rem;
}
.status-disa{
  background-color: rgb(238, 69, 69);
  color: #fff;
  font-size: .8rem;
  padding: 0.2rem .5rem;
  border-radius: 1rem;
}

.control-td{
  position: relative;
}

.control-td>a{
  color: #333;
}
.control-td>a:hover{
  color: var(--main-color-light);
}

.droplist-btn{
  color:#333;
  font-weight: 500;
}
.droplist-btn:hover{
  color: var(--main-color-light);
  position: relative;
}



.dropdown-table {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ececec;
    min-width: 160px;
    overflow: auto;
   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }

  
  .dropdown-table a{
    color: #666;
    padding: .5rem;
    text-decoration: none;
    display: block;
    border-bottom: .1rem solid #c5c3c3;
  }
  .dropdown-table a:hover{
    color: var(--main-color-light);
  }
  .dropdown-table.show{
    display: block;
  }

  
  /* form */

  .tab-form .card-header{
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .tab-form .card-header h5{
    margin: 0;
  }

  .tab-form .card-header button{
    background-color: var(--main-color-light);
    border-radius: .5rem;
    border: none;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 500;
  }

  .tab-form .card-body{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .tab-form .form-group img{
    max-width:15rem;
  }

  .tab-form input:focus,
  .tab-form textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: #ececec;
  }



  .tab-form .card-footer{
    margin-top: 1rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;
  }

  







